<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.yuhaodoong.undertow.lbintraday</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>/Users/yhdong/Trading/scripts/verify_intraday_lead.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/yhdong/Trading/data/logs/lbintraday.err</string>
	<key>StandardOutPath</key>
	<string>/Users/yhdong/Trading/data/logs/lbintraday.out</string>
	<key>StartInterval</key>
	<integer>900</integer>
	<key>WorkingDirectory</key>
	<string>/Users/yhdong/Trading</string>
</dict>
</plist>
